*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgba(163, 105, 57, 0.562);
    padding: 20px;
}
.descricao{
    text-align: center;
    margin-bottom: 2em;
}
.sessao{
    max-width: 1200px;
 /*largura maxima da sessao*/
 margin: 0auto;
 box-shadow: 0 0 10px rgba(red, green, blue, alpha);
 border-radius: 5px;
 background-color: #fff;
 padding: 10px;
}
.texto{
    flex: 1;
    padding-right: 20px;
    align-self: center;
    padding-left: 2em;
}
.texto h2{
    line-height: 2em;
    margin-bottom: 2em;
}
.texto p{
    line-height: ;

}
.imagem{
    flex:1;
    text-align: center;
}
.imagem img{
    max-width:100%;
    height: auto;
    border-radius: 8px;
}